body{
	background-color: var(--color-1);

}
.contain{
	width: 1270px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 750px;
	position: absolute;
	left: 0.5vh;
}

.monitor{
	height: 250px;
	width: 500px;
	background: var(--color-4);
	border: 10px solid black;
	position: absolute;
	/* top: 3vh; */
	box-shadow: 1px 1px 4px #858383 ,0px 0px 10px #fff, 0px 1px 10px #858383 inset;
	border-radius: 20px;
	/* position: relative; */
	top: 5.5vh;
	text-align: center;
	font-size: 30px;
	color: #fff;
}
.container{
	margin: 160px 0 0 100px;
}
.row{
	width: 100%;
	height: 60px;
}
.one, .two, .three, .four, .five{
	margin: 10px 0 0 0;
		transition: 1.5s;
		cursor: pointer;
	
}

.row-one input:hover{
	box-shadow: 0 0 0 3px #FF0000;

}


.row-two input:hover{
	box-shadow: 0 0 0 3px yellow ;

}

.row-three input:hover{
	box-shadow: 0 0 0 3px blue ;

}

.row-four input:hover{
	box-shadow: 0 0 0 3px green ;

}

.row-five input:hover{
	box-shadow: 0 0 0 3px violet ;

}
/* .row input:hover::before,.row input:hover::after{
	transition: all 0.25s linear;
}
.row input:hover::before{
	background-color: rgb(214,214,214);
}
 */

input{
	color: rgb(255, 255, 255);
	width: 55px;
	height: 55px;
	border: none;
	background: var(--color-3);
	box-shadow: 1px 1px 4px #858383 ,0px 0px 10px black;
	font-size: 20px;
	margin-left: 10px;
	outline: none;
	font-family: Arial,Helvetica,sans-serif;
	border-radius: 20%;


}

.row-one input:active{
	box-shadow: 1px 1px 20px red, -3px -3px 5px red;
}

.row-two input:active{
	box-shadow: 1px 1px 20px  yellow, -3px -3px 5px  yellow;
}

.row-three input:active{
	box-shadow: 1px 1px 20px blue, -3px -3px 5px  blue;
}

.row-four input:active{
	box-shadow: 1px 1px 20px  green, -3px -3px 5px  green;
}

.row-five input:active{
	box-shadow: 1px 1px 20px  violet, -3px -3px 5px  violet;
}
.back{
	width: 115px;
	border-radius: 10px;
}

.tab{
	width: 85px;
	border-radius: 10px;
}
.slas{
	width: 85px;
	border-radius: 10px;

}
.cap{
	width: 100px;
	border-radius: 10px;
}
.enter{
	width: 135px;
	border-radius: 10px;
}
.shift{
	width: 150px;
	border-radius: 10px;
}
.last{
	width: 82px;
	border-radius: 10px;
}
.space{
	width: 400px;
	border-radius: 10px;
}

/* input{
	display:none;
} */
/* #red:checked ~ .container.row-two {
	color: #ff0000;
	border: #ff0000;
}

#yellow:checked ~ .container.row-two{
	color: #fbff00;
	border: #fbff00;
}

#green:checked ~ .container.row-three{
	color: #00ff00;
	border: #00ff00;
}

#blue:checked ~ .container.row-four{
	color: #ff0000;
	border: #ff0000;
}
 */
/* .container:active{
	transform: translateY(2px)scale(0.98);
	border-bottom-width: 2px;
} */
/* .container:focus{
	outline: none;
} */

/*light theme colors*/
body[data-theme="light"]{
	/* --color-1: rgb(214,214,214);
	--color-2:white;
	--color-3: red;
	--color-4:rgb(214,214,214); */  

	--color-1: rgb(186,186,202); /* rgb(214,214,214) */ /* #EEE9E9; */
	--color-2: #ffffff;
	--color-3: /*#804fb3*/ #aa00ff ;
	--color-4:#000428; /* #263238; */  
}

/*dark theme colors*/

body[data-theme="dark"]{
	--color-1: #000428; /* #263238 *//* rgb(0,0,0) */
	--color-2:#292c33;
	--color-3: rgb(0,0,0);/* #ff5f6d *//* rgb(42,245,152) */
	--color-4:rgb(186,186,202);  
}

.theme-switcher{
	position: absolute;
	right: 30px;
	top: 10px;
}

.checkbox input{
	width: 0;
	height: 0;
	visibility:hidden;
}


	label{
		border-radius: 50px;
		display: block;
		text-indent: -9999px;
		height: 30px;
		width: 60px;
		background-color: white;
		position: relative;
		cursor: pointer;
		transition: .5s ease background-color;

	}

	label::after{
		position: absolute;
		content: '';
		width: 20px;
		height: 20px;
		border-radius: 50px;
		background-color: black;
		top: 20%;
		left: 5px;
		transform: translateY(-10%);
		transition: .5s ease;

	}

	.checkbox input:checked + label{
		background-color: black;
		border: 2px solid white ;
	}
     

	.checkbox input:checked + label::after{
		background-color: white ;
		/* border: 2px  yellow; */
		left: 60%;
	}
     


